<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta property="og:image" content="http://enamun.jit.su/images/logo3.png" />
    <meta property="og:description" content="Enamun es EL entrenamiento de ONU" />

    <title><%= app.name %></title>
    
    <link href="/stylesheets/bootstrap-2.1.1/bootstrap.min.css" rel="stylesheet"/>
	<link href="/stylesheets/bootstrap-2.1.1/bootstrap-responsive.min.css" rel="stylesheet"/>
	<link href="/stylesheets/bootstrap-2.1.1/docs.css" rel="stylesheet"/>
	<link href="/stylesheets/main.css" rel="stylesheet"/>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          // window.location = window.location;
          window.location.reload(true);
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <!-- =======================================================================================================  -->
    
    
    	<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/"><img src="/images/logo4.png" alt="ENAMUN" id="logo"/></a>
					<div class="nav-collapse">
						<ul class="nav pull-right">
							
							<li><a href="/paises">Paises</a></li>
							<li><a href="/noticias">Noticias</a></li>
							<li><a href="/fotos">Fotos</a></li>
							<li><a href="/videos">Videos</a></li>
							<li><a href="/modelos">Modelos</a></li>
							
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		
		
		<div class="slide-container"></div>
		
		<div class="container" style="position:relative;">
			

			<div class="row">
			
				<div class="span8">
				
	<!-- ======================================= CAROUSEL ========================================-->
					
					<div id="myCarousel" class="carousel slide" style="cursor:pointer;">
						<!-- Carousel items -->
						<div class="carousel-inner" >
						
							<%
							first = true;
							countries.forEach( function (country) { %>
								<div class="item
									<% if (first) {%>
										<%= 'active' %>
										<% first=false;%>
									<% } %>">
									<a href="/pais/<%= country.nombre%>">
										<img src="<%= country.imagen%>"/>
									</a>
									<div class="carousel-caption">
										<h1><%= country.nombre%></h1>
									</div>
								</div>
									
							<% }); %>
						<!--
						<div class="active item">
							
							<a href="">
								<img src="/images/slides/1.jpg">
							</a>
							
							<div class="carousel-caption">
							
								<h1>1</h1>
								
							</div>
							
						</div>
						<div class="item">
							
							<a href="">
								<img src="/images/slides/2.jpg">
							</a>
							
							<div class="carousel-caption">
							
								<h1>2</h1>
								
							</div>
							
						</div>
						<div class="item">
							
							<a href="">
								<img src="/images/slides/3.jpg">
							</a>
							
							<div class="carousel-caption">
							
								<h1>3</h1>
								
							</div>
							
						</div>
						<div class="item">
							
							<a href="">
								<img src="/images/slides/4.jpg">
							</a>
							
							<div class="carousel-caption">
							
								<h1>4</h1>
								
							</div>
							
						</div>
					</div>
					
				</div><!-- END CAROUSEL -->
						</div>
					</div>
	
	
	<!-- ===================================== END CAROUSEL ======================================-->
				
				
				
				</div> 
				
				<div class="span3 hero-unit-2">
				
					<h4><%= articulos[0].titulo%></h4>
					<img src="<%= (articulos[0].imagen) ? articulos[0].imagen : ''%>">
					<p style="font-size:14px;line-height:1.1;"><%= articulos[0].subtitulo%></p>
					<a class="btn btn-info" href="/noticia/<%= articulos[0].id%>">Leer Mas</a>
					
				
				</div>
			
			
			</div> <!-- END ROW -->
			
			
			<!--<header class="jumbotron subhead">
				<h1>Noticias</h1>
				<p class="lead">Enterate de todo...</p>
			</header>-->
			
			<div class="row" style="border-bottom: 2px solid #22d7eb">
				<div class="span6">
					<a href="/noticias">
						<h1>Noticias</h1>
					</a>
						
					<div class="row" style="max-height:140px;overflow:hidden;">
					
						<%	for (i = 1; i < 3; i++) { %>
						
							<div class="span3">
							
								<a href="/noticia/<%= articulos[i].id %>"><h4><%= articulos[i].titulo %></h4></a>
								<img src="<%= (articulos[i].imagen) ? articulos[i].imagen : ''%>">
								<p><%= articulos[i].subtitulo %></p>
							
							</div>
						<% } %>
						
					</div>
					
					<a href="/noticias" class="btn btn-info">Ver Mas</a>
					
				</div>
				
				<div class="span6">
					<a href="/paises">
						<h1>Paises</h1>
					</a>
					
					<div class="row">
						
						<% countries.forEach( function (pais) { %>
							<div class="span2">
							
								<a href="/pais/<%= pais.nombre %>">
									
									<h4><%= pais.nombre %></h4>
								
									<img src="<%= pais.imagen %>" width="140" height="140"/>
									
								</a>
							
							</div>
						
						<% }); %>
						
					</div>
					
					<a href="/paises" class="btn btn-info">Ver Mas</a>
					
				</div>
				
				
			</div>
			
			<div class="row" style="border-bottom: 2px solid #22d7eb">
				<div class="span6">
					<a href="/videos">
						<h1>Videos</h1>
					</a>
					
					<div class="row">
							
						<% for (i = 0; i < 3; i++) { %>
							<div class="span2">
							
								<a href="/video/<%= videos[i].id %>"><h4><%= videos[i].titulo %></h4></a>
								<video width="140" height="140" controls="controls">
									<source src="<%= videos[i].url %>" type="video/mp4" />Your browser does not support the video tag.
								</video>
							
							</div>
						
						<% } %>
						
					</div>
					
					<a class="btn btn-info" href="/videos">Ver Mas</a>
				</div>
				
				<div class="span6">
					<a href="/fotos">
						<h1>Fotos</h1>
					</a>
						
					<div class="row">
						
						<% fotos.forEach( function (foto) { %>
							<div class="span2">
							
								<a href="/foto/<%= foto.id %>"><h4><%= foto.titulo %></h4>
									<img src="<%= foto.url %>" width="140" height="140" />
								</a>
							
							</div>
						
						<% }); %>
						
					</div>
						
					<a class="btn btn-info" href="/fotos">Ver Mas</a>
				</div>
				
			</div>
			
			<div class="row" style="border-bottom: 2px solid #22d7eb">
				<div class="span6">
					<a href="/game"><h1>"THE game"</h1></a>
					<a href="/game"><img src="/images/game.png" width="300" height="200"/></a>
					<p>Juega al juego de ENAMUN!</p>
					<a class="btn btn-info" href="/game">Jugar!</a>
				</div>
				
				<div class="span6">
					<a href="/modelos"><h1>Modelos</h1></a>
					<h3>MONUCBA VIII (Modelo de Naciones Unidas de la Ciudad de Buenos Aires)</h3>
					<p><b>Organización:</b> ANU-AR (Asociación para las Naciones Unidas en la Rep˙blica Argentina)</p>
					<p><b>Lugar:</b> Anexo del Senado de la Nación</p>
					<p><b>Fecha:</b> 13 a 15 de junio</p>
					<p><b>Ganadores:</b>
						<ul>
							<li>1∫Distinción General: Reino Unido
							<li>2∫ Distinción General: Estados Unidos
							<li>Mención en Consejo de Seguridad: Togo
							<li>Mención en AG3: Togo
							<li>Mención en AG4: Suiza
							<li>Mención HonorÌfica: Embajador de Alemania
						</ul>
					</p>
					<a class="btn btn-info" href="/modelos">Leer Mas</a>
				</div>
			</div>
			
			<div class="row" style="border-bottom: 2px solid #22d7eb">
				<div class="span6">
					<a href="/modelos"><h1>Modelos</h1></a>
					<h3>IBEROMUN VII (Modelo Iberoamericano de Naciones Unidas)</h3>
					<p><b>Organización:</b> Asociación Civil MiNU</p>
					<p><b>Lugar:</b> Centro de Altos Estudios en Ciencias Exactas (Universidad CAECE)</p>
					<p><b>Fecha:</b> 26 y 28 de junio</p>
					<p><b>Ganadores:</b>
						<ul>
							<li>Distinción General: Francia
							<li>Menciones en Consejo de Seguridad: Estados Unidos, Reino Unido y Rusia
							<li>Mención en ECOSOC: Cuba, Ecuador, Estados Unidos y Japón
						</ul>
					</p>
					<a class="btn btn-info" href="/modelos">Leer Mas</a>
				</div>
				
				<div class="span6">
					<a href="/modelos"><h1>Modelos</h1></a>
					<h3>DiTellaMUN III</h3>
					<p><b>Organización:</b> Facultad de Derecho de la UTDT/Eidos</p>
					<p><b>Lugar:</b> Universidad Torcuato Di Tella (UTDT)</p>
					<p><b>Fecha:</b></p>
					<a class="btn btn-info">Leer Mas</a>
				</div>
			</div>
			
			<!--
			<div id="myCarousel2" class="carousel slide">
				<!-- Carousel items ->
				<div class="carousel-inner">
					<div class="active item">
						
						<div class="row">
						
							<div class="span4">
								
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
								
							</div>
							
							<div class="span3">
								
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
								
							</div>
							
							<div class="span4">
								
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
								
							</div>
							
						</div>
								
					</div>
					<div class="item">
								
						<div class="row">
								
							<div class="span4">
								
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
								
							</div>
							
							<div class="span3">
								
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
								
							</div>
							
							<div class="span4">
								
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
								
							</div>
								
						</div>
					</div>
					
					<div class="item">
					
						<div class="row">
							<div class="span4">
							
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
								
							</div>
							
							<div class="span3">
								
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
								
							</div>
							
							<div class="span4">
								
								<h1>Titulo 1</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat cursus mi semper molestie. Nulla eget imperdiet dui. Vivamus consequat semper tincidunt.</p>
								<a class="btn btn-info">Leer Mas</a>
						
							</div>
				
						</div>
						
					</div>
				</div>
			</div>-->

			
		</div>
		
		<footer>
		
			<div class="container" style="margin: 0 auto;">
				
				<div class="row">
					<div class="span2">
						<h1>Paises</h1>
						<ul>
							<li><a>Listado</a></li>
						</ul>
					</div>
					<div class="span2">
						<h1>Noticias</h1>
						<ul>
							<li><a>Listado</a></li>
						</ul>
					</div>
					<div class="span2">
						<h1>Fotos</h1>
						<ul>
							<li><a>Listado</a></li>
						</ul>
					</div>
					<div class="span2">
						<h1>Videos</h1>
						<ul>
							<li><a>Listado</a></li>
						</ul>
					</div>
					<div class="span2">
						<h1>Modelos</h1>
						<ul>
							<li><a>Listado</a></li>
						</ul>
					</div>
					<div class="span2">
						<h1>Foro</h1>
						<ul>
							<li><a>Listado</a></li>
						</ul>
					</div>
				</div>
				
				<h1>Hecho por Martin Goffan &copy 2012</h1>
				
			</div>
		
		</footer>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>  <!-- jquery -->
	<script type="text/javascript" src="/scripts/bootstrap-2.1.1/bootstrap.min.js"></script> <!-- boostrstrap -->
<!--     <script type="text/javascript" src="/scripts/facebook.js"></script>  -->
	
	<script type="text/javascript">
		$(function () {
			$('#myCarousel').carousel({ interval: 1700, pause: 'hover' })
		});
	</script>
    
  </body>
</html>

